@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Roboto:ital,wght@0,100;0,400;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
body {
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
.container{
  background-image: url(https://images.unsplash.com/photo-1637750586228-179a1a7aef84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80);
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
header{
  min-width: 100vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
 border: 3px solid #e8c573;

}

header .logo {
  width: 30%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}
header .logo img {
  width: 60px;
  margin-right: -7px;
}
header .logo h1 {
  font-size: 45px;
  color: #e8c573;
  font-style: italic;
  font-family: 'Cardo', serif ;
}
.navbar-items {
display: flex;
justify-content: end;
align-items: center;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  align-items: flex-end;
}

header ul li a {
  font-size: 18px;
  padding: 8px 20px;
  margin: 0 6px;
  color: white;
  font-weight: 200;
}

header ul li a:hover {
  color: #f2d280;
}

.main {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.text-card {
  width: 60%;
  height: 100%;
  padding-left: 20px;
  padding-top: 220px;
  justify-content: center;
}

.text-card h1 {
 font-size: 40px;
 color: #e8c573;
 font-family: 'Roboto', sans-serif;
 font-weight: 400;
 font-style: italic;
}

.text-card h2 {
 color: white;
 font-weight: 200;
}
.text-card h3 {
 font-weight: 600;
 color: #f2d288;
 font-size: 24px;

}
.underline {
  height: 1px;
  width: 6%;
  margin-top: 50px;
  background-color: #e8c573;
}
.text-card p {
 color: white;
 width: 80%;
 margin-top: 10px;
 letter-spacing: 1px;
 font-size: 16px;
 font-weight: 200;
}
button {
  font-weight: 500;
  border: 1px solid #f2d280;
  background: transparent;
  color: whitesmoke;
  font-size: 24px;
  padding: 7px 25px;
  border-radius: 25px;
  margin-top: 50px;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(#e5d6b2, #e8c573);
  border: 1px solid whitesmoke;
  color: black;
}
.image-card {
  width: 30%;
  height: 45%;
  margin-right:-5px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
.image-list{
  display: flex;
  flex-direction: column;
}
.image-card img {
  width: 80px;
  cursor: pointer;
  margin: 18px 0;
  display: flex;
  align-items: center;
}

.main-image img {
  width: 400px;
  transition: all 0.5s ease;
  display: flex;
  justify-content:space-between;
}

.image-card img:hover {
  transform: translateY(-5px);
}
