@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Cardo', serif;
}
body {
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
.container{
  background-image: url(https://images.unsplash.com/photo-1637750586228-179a1a7aef84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80);
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
header{
  width: 100vh;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 5px solid #e8c573;
}

header ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  padding-right: 140px;
}
header .logo {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 70px;
}

.navbar-items {
  justify-content: flex-end;
}
header ul li a {
  font-size: 18px;
  padding: 8px 20px;
  margin: 0 6px;
  color: white;

}

header ul li a:hover {
  color: #f2d280;
}
header .logo h1 {
  font-size: 45px;
  color: #e8c573;
  font-style: italic;
}
.main {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.text-card {
  width: 60%;
  height: 100%;
  padding-left: 100px;
  padding-top: 220px;
}

.text-card h1 {
 font-size: 40px;
 color: #e8c573;
}

.text-card h2 {
 color: white;
}
.text-card p {
 color: white;
}
button {
  font-weight: 500;
  border: 1px solid #f2d280;
  background: transparent;
  color: whitesmoke;
  font-size: 24px;
  padding: 7px 25px;
  border-radius: 25px;
  margin-top: 50px;
  cursor: pointer;
}
.image-card {
  width: 40%;
  height: 100%;
  /* position: absolute; */
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image-card img {
  width: 80px;
  cursor: pointer;
  margin: 18px 0;
}

.main-image img {
  width: 550px;
  transition: all 0.5s ease;
}

.image-card img:hover {
  transform: translateY(-5px);
}
